* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blueBlack: #132c33;
    --darkBlue: #126e82;
    --blue: #51c4d3;
    --white: #d8e3e7;
}

body {
    background-color: var(--white);
    font-family: 'Karla', sans-serif;
    height: 100vh;
    width: 100vw;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--blueBlack);
    height: 75px;
    width: 100%;
}

#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 10px 15px;
}

#search:focus {
    border-radius: 0%;
    outline: none;
}

#searchButton {
    border: none;
    background-color: var(--white);
    color: var(--darkBlue);
    font-size: 18px;
    padding: 10px 15px;
    transform: scaleX(-1);
}

#searchButton:hover {
    background-color: var(--darkBlue);
    color: var(--white);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

#locationDataContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#skyData h3 {
    font-size: 16px;
}

#cityName h2 {
    font-size: 35px;
}

#weatherDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#temperature {
    display: flex;
    flex-direction: row;
    padding-right: 22px;
}

#degrees {
    font-size: 75px;
}

.units {
    font-size: 18px;
}

#miscStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    border-left: 2px solid var(--blueBlack);
    padding-left: 22px;
}

/* #searchContainer input, #searchContainer button {
    border: none;
    margin-right: 16px;
    margin-top: 8px;
    padding: 6px 10px;
} */